body{
font-family: 'Nunito', sans-serif;
background-color: #ffff;
color: #4b4b4b;
}

.container{
margin: auto;
background-color: #89e219;
border-bottom: 10px solid;
border-color: #58cc02;
border-radius: 20px;
min-width: 50px;
min-height: 50px;
}

.title{
 color: white;
 font-size: 1,5rem;
 text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a{
 text-decoration: none;
 color: #4b4b4b;
}