body{
font-family: 'Nunito', sans-serif;
background-color: #ffff;
color: white;
}

html, .fullscreen{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
margin: auto;
background-color: #89e219;
border-bottom: 10px solid;
border-color: #58cc02;
border-radius: 20px;
min-width: 50px;
min-height: 50px;
}

.title{
    font-size: 1,5rem;
    text-align: center;
}